<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav th:fragment="side_menu" class="side-menu" >
  <div class="image-container">
    <img src="/media/images.jpeg" alt="" srcset="" class="side-menu-profile">
  </div>
  <div class="text-block-container">
    <div th:if="!${#request.userPrincipal}">
      Anoniem
    </div>
  </div>
  <div class="top-down-list-container" sec:authorize="isAuthenticated()">
    <ul class="side-menu-list">
      <li sec:authentication="principal.username"></li>
    </ul>
    <p>name:</p>
    <span sec:authentication="principal.fullName">Fullname</span>
  </div>
</nav>

</body>
</html>


