<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>


</head>

<body>
<div th:fragment="side_menu" class="side-menu">
  <section>
    <div>
      <div class="image-container">
        <img src="/media/images.jpeg" alt="" srcset="" class="side-menu-profile">
      </div>
      <div class="text-block-container">
        <p>Firstname Lastname</p>
      </div>

      <div class="top-down-list-container">
        <ul class="side-menu-list">
          <li>List item</li>
          <li>List item</li>
        </ul>
      </div>
    </div>

  </section>

</div>
</body>
</html>


