<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <!-- template: https://www.w3schools.com/w3css/tryw3css_templates_analytics.htm# -->
</head>
<body>
<!-- Header import-->
<div th:replace="fragments/header_fragment :: header"></div>
<!--Side Navigation-->
<nav th:replace="fragments/sidemenu_fragment :: side_menu"></nav>

<div class="site-container">
    <div sec:authorize="isAnonymous()">
        <section>
            <div class="column-50">
                <a href="/login" class="link link-block">
                    <div class="history-image">
                        <h2>Login</h2>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <section sec:authorize='hasAuthority("TRANSFER_USER")'>
        <div class="row row-padding" >
            <div class="column-25">
                <a href="/transfer" class="link link-block">
                    <div class="column-content transfer-block">
                        <h2>Transfer</h2>
                    </div>
                </a>
            </div>

            <div class="column-25">
                <a href="/profile" class="link link-block">
                    <div class="column-content overview-block">
                        <h2>Accounts</h2>
                    </div>
                </a>
            </div>

            <div class="column-25">
                <a href="/withdraw" class="link link-block">
                    <div class="column-content withdraw-block">
                        <h2>Withdraw</h2>
                    </div>
                </a>
            </div>
            <div class="column-25">
                <a href="/deposite" class="link link-block">
                    <div class="column-content deposite-block">
                        <h2>Deposite</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section sec:authorize='hasAuthority("TRANSFER_USER")'>
        <div class="row row-padding">

            <div class="column-50">
                <a href="#" class="link link-block">
                    <div class="history-image">
                        <h2>History</h2>
                    </div>
                </a>
            </div>

            <div class="column-50">

                <ul class="history-list">
                    <li class="history-list-item">
                        <div class="list-item">
                            In
                        </div>

                    </li>
                    <li class="history-list-item">
                        Out
                    </li>
                    <li class="history-list-item">
                        In
                    </li>
                    <li class="history-list-item">
                        Out
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section></section>

        <div th:replace="fragments/footer_fragment :: footer">

        </div>
    </section>
</div>

</body>
</html>